body {
   /*background: url(../img/web-4OJDSDOEKU.jpg) no-repeat center center scroll;*/
   background: url(../img/web-5FGWJW4Z5D.jpg) no-repeat center center scroll;
   background-attachment: fixed;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;

   font-family: 'Open Sans Condensed', sans-serif;
   font-size:2.5em;
}

.btn {
   font-size: .8em;
}

.banner {
   font-weight: bold;
}


.form-group .form-control {
      font-size:.9em;
}


.vertical-center{
   min-height: 100vh;
   margin: 0;
   display: flex;
   align-items: center;
}

h1 {
   margin:24px 0;
}

.room-title {
   font-weight: bold;
}

.yourname{
   display:inline-block;
   color:rgb(176, 5, 0);
}
.change-settings {
   display:inline-block;
}

.messages p {
   margin: 6px 0;
}
